.heading{
          
          position: fixed;
          
      }
      #hg-size{
          font-size: 20px;
      }
      canvas{
          border:5px solid white;
          border-radius: 20px;
          margin-top: 350px;
      }